### **Machine Translation using Pretrain Model**

In [1]:
''' Import all important Library '''
import pandas as pd
import os

In [2]:
''' Root and Dataset Path '''
Root_dir = '/Users/mahadiur/Desktop/Bongodev MLops Projects/Machine Translation using Pretrain Model/Data'

train_path = os.path.join(Root_dir, 'train.csv')
test_path = os.path.join(Root_dir, 'test.csv')
validation_path = os.path.join(Root_dir, 'val.csv')

In [3]:
''' Load Dataset '''
train_dataset = pd.read_csv(train_path)
test_dataset = pd.read_csv(test_path)
validation_dataset = pd.read_csv(validation_path)

train_dataset.head()

,en,bn
0,men with orange wristbands perform a dance .,কমলা রিস্টব্যান্ড পড়া লোক নাচছে ।
1,a man with a grey beard is sitting by a window .,ধূসর দাড়িওয়ালা একটি লোক জানালার কাছে বসে আছেন।
2,a dog walking through the water at the ocean .,একটি কুকুর সমুদ্র তীরে পানির মধ্যে হাঁটছে
3,a bike racer in a red jersey is pursued by ano...,দুজন বাইক চালক প্রতিযোগিতা করছে
4,two identical dogs bound across a lush green m...,দুইটি অভিন্ন কুকুর সতেজ তৃণভূমিতে আবদ্ধ